greenlet==3.5.3
numpy==2.2.6
pandas==2.3.3
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.15.0
tzdata==2026.2
